<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toyota.tsc.notificationhub.repositories.NtfInfoMapper">

    <insert id="upsert" parameterType="com.toyota.tsc.notificationhub.repositories.NtfInfoEntity">
        INSERT INTO ntf_info (
            internal_user_id, installation_id, device_token, device_id, brd_cd, platform_type, created_at, updated_at
        ) VALUES (
            #{internalUserId}, #{installationId}, #{deviceToken}, #{deviceId}, #{brdCd}, #{platformType}, #{createdAt}, #{updatedAt}
        )
        ON CONFLICT (internal_user_id, installation_id)
        DO UPDATE SET
            device_token = EXCLUDED.device_token,
            device_id = EXCLUDED.device_id,
            brd_cd = EXCLUDED.brd_cd,
            platform_type = EXCLUDED.platform_type,
            updated_at = EXCLUDED.updated_at
    </insert>

    <insert id="insert" parameterType="com.toyota.tsc.notificationhub.repositories.NtfInfoEntity">
        INSERT INTO ntf_info (
            internal_user_id, installation_id, device_token, device_id, brd_cd, platform_type, created_at, updated_at
        ) VALUES (
            #{internalUserId}, #{installationId}, #{deviceToken}, #{deviceId}, #{brdCd}, #{platformType}, #{createdAt}, #{updatedAt}
        )
    </insert>

    <update id="update" parameterType="com.toyota.tsc.notificationhub.repositories.NtfInfoEntity">
        UPDATE ntf_info SET
            device_token = #{deviceToken},
            device_id = #{deviceId},
            brdCd = #{brdCd},
            platform_type = #{platformType},
            updated_at = #{updatedAt}
        WHERE internal_user_id = #{internalUserId} AND installation_id = #{installationId}
    </update>

    <delete id="delete">
        DELETE FROM ntf_info WHERE internal_user_id = #{internalUserId} AND installation_id = #{installationId}
    </delete>

    <select id="select" resultType="com.toyota.tsc.notificationhub.repositories.NtfInfoEntity">
        SELECT internal_user_id, installation_id, device_token, device_id, brd_cd, platform_type, created_at, updated_at
        FROM ntf_info
        WHERE internal_user_id = #{internalUserId} AND installation_id = #{installationId}
    </select>

    <select id="selectAllByInternalUserId" resultType="com.toyota.tsc.notificationhub.repositories.NtfInfoEntity">
        SELECT internal_user_id, installation_id, device_token, device_id, brd_cd, platform_type, created_at, updated_at
        FROM ntf_info
        WHERE internal_user_id = #{internalUserId}
    </select>
</mapper>
